:root {
  --viewWidth: 100%;
  --sidebarWidth: clamp(250px, var(--viewWidth), 548px);
}

.fullH {
  --fullH: 100dvh;
  height: clamp(var(--fullH), var(--fullH), var(--fullH));
}

@media (min-width: 548px) {
  :root {
    --sidebarWidth: clamp(250px, var(--viewWidth), 17.5rem);
  }
}
