view {
  background: var(--viewBackgroundColor);
  width: var(--viewWidth);
  flex: 1 1 auto;
  transition: width 0.2s ease;
  will-change: width;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
}

view.toggled {
  width: calc(var(--viewWidth) - var(--sidebarWidth));
}
