view header {
  position: relative;
  min-width: 100%;
  height: calc(1.5rem + 1.5rem);
  border-bottom: 0.1rem solid var(--special3);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
view header div#controls {
  position: absolute;
  left: 0;
  top: 0;
  width: 6rem;
  gap: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

view header div#controls svg {
  width: 1.33rem;
  height: 1.33rem;
  max-width: 1.33rem;
  max-height: 1.33rem;
}

view header h1 {
  height: 1.5rem;
  font-weight: 400;
  font-size: 1rem;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
