sidebar {
  position: relative;
  background: var(--sidebarBackgroundColor);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  transition: flex-basis 0.2s ease, padding 0.2s ease, transform 0.2s ease;
  will-change: left, transform padding;
  padding: 1.5rem 0 1.5rem 0;
  flex: 0 0 0;
  border-radius: 0.5rem;
  margin: 0;
  gap: 1.5rem;
  overflow: hidden;
}

sidebar.toggled {
  flex: 0 0 var(--sidebarWidth);
  padding: 1.5rem;
}
