sidebar footer {
  position: absolute;
  bottom: 0;
  left: 0;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30dvh;
}
sidebar footer figure {
  filter: blur(0.1px);
}
sidebar footer figure img {
  height: 25dvh;
  width: 25dvh;
}
