@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: auto;
  src: url("https://assets.vorte.app/fonts/Inter-VariableFont_opsz,wght.woff2")
    format("woff2");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 100;
  font-display: auto;
  src: url("https://assets.vorte.app/fonts/Poppins/Thin.woff2") format("woff2");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  font-display: auto;
  src: url("https://assets.vorte.app/fonts/Poppins/ExtraLight.woff2")
    format("woff2");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-display: auto;
  src: url("https://assets.vorte.app/fonts/Poppins/Light.woff2") format("woff2");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url("https://assets.vorte.app/fonts/Poppins/Regular.woff2")
    format("woff2");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-display: auto;
  src: url("https://assets.vorte.app/fonts/Poppins/Medium.woff2")
    format("woff2");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-display: auto;
  src: url("https://assets.vorte.app/fonts/Poppins/SemiBold.woff2")
    format("woff2");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-display: auto;
  src: url("https://assets.vorte.app/fonts/Poppins/Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-display: auto;
  src: url("https://assets.vorte.app/fonts/Poppins/ExtraBold.woff2")
    format("woff2");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-display: auto;
  src: url("https://assets.vorte.app/fonts/Poppins/Black.woff2") format("woff2");
}
