:root {
  color-scheme: light dark;
  filter: contrast(attr(data-contrast type(<number>), 1));
  text-rendering: optimizeLegibility;
  font-kerning: none;
  font-variant-ligatures: none;
  font-feature-settings: "liga" 0, "kern" 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background: var(--backgroundColor);
}
