::-webkit-scrollbar {
  width: 0;
  height: 0;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html,
body {
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
  overflow: hidden;
  max-height: 100dvh;
}
